body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
*{
    scrollbar-width: thin;
    scrollbar-color: #4070B7 #f4f6f9;
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Para evitar que los inputs sobresalgan */
}

/* Logo styling */
.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo {
    max-width: 200px; /* Ajustamos el tamaño del logo */
    height: auto;
}


h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 8px;
    display: block;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 12px 40px 12px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
}

.password-field .password-wrapper {
    position: relative;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px; /* Espacio para el icono del ojo */
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password img {
    width: 24px;
    height: 24px;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #00bcd4; /* Cambiado a color cyan */
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #00acc1; /* Un tono más oscuro en hover */
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f8d7da;
    color: #a94442;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
}
