{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Proceso</title>
    <link rel="stylesheet" href="{% static 'css/editar_proceso.css' %}">
</head>
<body>
    {% include 'loading.html' %}
    {% include "header.html" %}
    <div class="section-title">
        <div class="section-design">
            <h2>Editar Proceso</h2>
        </div>
    </div>

    <div class="form-container">
        <div class="logo-section">
            {% if proceso.logo_empresa %}
                <img src="{{ proceso.logo_empresa.url }}" alt="Logo del Proceso" class="company-logo">
            {% else %}
                <p class="no-logo">No se ha asignado un logo para este proceso.</p>
            {% endif %}
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-guardar">Guardar Cambios</button>
        </form>
    </div>
</body>
</html>
